################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcelFromList/.vs/ExcelFromList/v15
/ExcelFromList/Testing/obj
/ExcelFromList/Testing/bin/Debug
/ExcelFromList/packages
/ExcelFromList/ExcelFromList/obj
/ExcelFromList/ExcelFromList/bin/Debug/netstandard2.0
/ExcelFromList/.vs/ExcelFromList/DesignTimeBuild
*.nupkg
*.nuspec
/ExcelFromList/ExcelFromList/bin/Debug
/ExcelFromList/ExcelFromList/Properties
/ExcelFromList/.vs/ExcelFromList/v16/.suo
/ExcelFromList/Testing/images/MCSD%2BApp%2BBuilder-01.png
